### Soal Tipe Data

In [27]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

#### Petunjuk:
Dari data di atas kerjakan soal di bawah untuk nomor **1 - 4**, sebisa mungkin gunakan comprehension loop apabila ada perulangan:

### 1 
Please get the list of all Companies and sort by **Company Domain** in reverse order.

Expected result:


```json
[{
    "name": "Company 1", 
    "domain": "Retail"
}, {
    "name": "Company 3", 
    "domain": "Healthcare"
}, {
    "name": "Company 2", 
    "domain": "Construction"
}]
```

In [30]:
# lengkapi function berikut
def sort_company(companies):
    sorted_companies = sorted(companies, key=lambda x: x['domain'], reverse=True)
    return sorted_companies

# Contoh penggunaan
companies = [
    {
        "name": "Company 1",
        "domain": "Retail"
    },
    {
        "name": "Company 3",
        "domain": "Healthcare"
    },
    {
        "name": "Company 2",
        "domain": "Construction"
    }
]

sorted_companies = sort_company(companies)
print(sorted_companies)

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

### 2
Please print all Domain value in every company.

Expected return:

```
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients
```

In [26]:
# lengkapi function berikut
def get_company_domain(companies):
    for company in companies:
        name = company['name']
        domain = company['domain']
        relation = company['relation']
        print(f"{name}: {domain}, relation: {relation} clients")

# Contoh penggunaan
companies = [
    {
        "name": "Company 1",
        "domain": "Retail",
        "relation": 2
    },
    {
        "name": "Company 2",
        "domain": "Construction",
        "relation": 3
    },
    {
        "name": "Company 3",
        "domain": "Healthcare",
        "relation": 4
    }
]

get_company_domain(companies)

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

### 3
Create a function that return employees with it's company domain.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "domain": "Retail"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "domain": "Construction"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 2",
    "domain": "Construction"
}]
```

In [45]:
# lengkapi function berikut
def get_employees():
    employee_data = [
        {"full_name": "John Doe", "company": "Company 1"},
        {"full_name": "Tom Smith", "company": "Company 2"},
        {"full_name": "Andrew Sebastian", "company": "Company 2"}
    ]

    company_detail_list = {
        'Company 1': {
            'name': 'Company 1',
            'domain': 'Retail'
        },
        'Company 2': {
            'name': 'Company 2',
            'domain': 'Construction'
        },
        'Company 3': {
            'name': 'Company 3',
            'domain': 'Healthcare'
        }
    }

    for employee in employee_data:
        company = employee['company']
        employee['domain'] = company_detail_list[company]['domain']

    return employee_data

employees = get_employees()

for employee in employees:
    print(f"Nama_Lengkap: {employee['full_name']}")
    print(f"Nama_Perusahaan: {employee['company']}")
    print(f"Nama_Domain: {employee['domain']}")
    print()

Nama_Lengkap: John Doe
Nama_Perusahaan: Company 1
Nama_Domain: Retail

Nama_Lengkap: Tom Smith
Nama_Perusahaan: Company 2
Nama_Domain: Construction

Nama_Lengkap: Andrew Sebastian
Nama_Perusahaan: Company 2
Nama_Domain: Construction

### 4
Create a function that return companies with list of employees that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employees": ["John Doe"]
}, {
    "company": "Company 2",
    "employees": ["Tom Smith", "Andrew Sebastian"]
}, {
    "company": "Company 3",
    "employees": []
}]
```

In [31]:
# lengkapi function berikut
def get_employees_by_company():
    employee_data = [
        {"full_name": "John Doe", "company": "Company 1"},
        {"full_name": "Tom Smith", "company": "Company 2"},
        {"full_name": "Andrew Sebastian", "company": "Company 2"}
    ]

    company_employees = {}

    company_detail_list = ['Company 1', 'Company 2', 'Company 3']
    for company in company_detail_list:
        company_employees[company] = []

    for employee in employee_data:
        company = employee['company']
        company_employees[company].append(employee['full_name'])

    result = []
    for company, employees in company_employees.items():
        result.append({"company": company, "employees": employees})

    return result



companies_with_employees = get_employees_by_company()

for company in companies_with_employees:
    print(f"Perusahaan: {company['company']}")
    print("Nama_Karyawan:")
    if company['employees']:
        for employee in company['employees']:
            print(f"- {employee}")
    else:
        print("- data karyawan tidak ada")
    print()

Perusahaan: Company 1
Nama_Karyawan:
- John Doe

Perusahaan: Company 2
Nama_Karyawan:
- Tom Smith
- Andrew Sebastian

Perusahaan: Company 3
Nama_Karyawan:
- data karyawan tidak ada

### Soal pre-processing data

In [46]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

data_startup = pd.DataFrame({
    'R&D Spend': [1000.23, float('nan'), 76253.86, 63408.86, 28754.33, 119943.24, 134615.46],
    'Administration': [124153.04, 110594.11, 113867.30, 129219.61, 118546.05, 156547.42, 147198.87],
    'Marketing Spend': [1903.93, 229160.95, 298664.47, 46085.25, 172295.67, 256512.92, 127716.82],
    'State': ['New York', 'Florida', 'California', 'California', 'California', 'Florida', 'California'],
    'Profit': [64926.08, 146121.95, 118474.03, 97427.84, 78239.91, 132602.65, 156122.51]
})


data_startup['R&D Spend'].fillna(data_startup['R&D Spend'].mean(), inplace=True)

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), ['State'])], remainder='passthrough')
data_startup = pd.DataFrame(ct.fit_transform(data_startup))

data_startup.columns = ['State_New York', 'State_Florida', 'State_California', 'R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05


scaler = StandardScaler()
data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']] = scaler.fit_transform(data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']])



data_startup.index += 1

print(data_startup)

   State_New York  State_Florida  State_California  R&D Spend  Administration  \
1             0.0            0.0               1.0  -1.603505       -0.277473
2             0.0            1.0               0.0   0.000000       -1.125502
3             1.0            0.0               0.0   0.128699       -0.920784
4             1.0            0.0               0.0  -0.166970        0.039410
5             1.0            0.0               0.0  -0.964655       -0.628156
6             0.0            1.0               0.0   1.134351        1.748600
7             1.0            0.0               0.0   1.472079        1.163905

   Marketing Spend    Profit       Tax
1        -1.571128 -1.519197 -1.717386
2         0.662403  1.024661  0.662693
3         1.345499  0.158454  1.026926
4        -1.136905 -0.500921 -1.057588
5         0.103519 -1.102077 -0.279959
6         0.931224  0.601102  1.145224
7        -0.334612  1.337977  0.220091

In [ ]:
data_startup = pd.read_csv('50_Startups.csv')

In [48]:
data_startup.sample(7)

,State_New York,State_Florida,State_California,R&D Spend,Administration,Marketing Spend,Profit,Tax
6,0.0,1.0,0.0,1.134351,1.748600,0.931224,0.601102,1.145224
3,1.0,0.0,0.0,0.128699,-0.920784,1.345499,0.158454,1.026926
7,1.0,0.0,0.0,1.472079,1.163905,-0.334612,1.337977,0.220091
4,1.0,0.0,0.0,-0.166970,0.039410,-1.136905,-0.500921,-1.057588
5,1.0,0.0,0.0,-0.964655,-0.628156,0.103519,-1.102077,-0.279959
1,0.0,0.0,1.0,-1.603505,-0.277473,-1.571128,-1.519197,-1.717386
2,0.0,1.0,0.0,0.000000,-1.125502,0.662403,1.024661,0.662693

### Soal
Dari data di atas lakukan pre-processing sbb:
1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean
2. lakukan oneHotEncoder ke field state
3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
4. Jalankan standardScaler field-field tersebut

### Ketentuan dan Deadline

1. Buat masing-masing repositori di github account
2. Soal dikerjakan di repositori tsb.
3. Jawaban yang dikumpulkan di **e-learning** merupakan link github dari repositori di atas.
4. Deadline pengumpulan soal adalah hari rabu, 15 Mei 2024 pukul 23:59.